html,
body,
h1,
#subtitulo {
    margin: 0;
    padding: 0;
}

header {
    background-color: aquamarine;
}

p {
    background-color: thistle;
    text-align: justify;
}

#subtitulo {
    font-size: 32px;
    line-height: 60px;
}

#subtitulo:hover {
    color: white;
    background-color: blue;
}

.texto_grande {
    color: blue;
}

main p {
    border: 1px solid red;
}

.texto_grande.campo {
    border: 1px solid red;
}

td.texto_grande {
    background-color: violet;
}

article>p {
    border: 1px solid green;
}

table {
    width: 100%;
    max-width: 900px;
    min-width: 400px;
}

main {
    width: 80%;
}

video {
    width: 100%;
    height: 100vh;
}

form {
    background-image: url("https://i.pinimg.com/736x/c0/8e/31/c08e318f68544c54f12299c0246ae981.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

a {
    text-decoration: none;
}

td {
    vertical-align: bottom;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    gap: 20px;
    flex-wrap: wrap;
    height: 200px;
    padding: 0;
}

header nav ul li {
    background-color: red;
    color: white;
    padding: 10px 30px;
    flex-grow: 1;
}

.contacto {
    flex-grow: 2;
}



header nav ul li a {
    color: white;
}

article ol {
    list-style-type: decimal-leading-zero;
}

.google {
    width: 300px;
    margin: 30px 50px;
    padding: 40px 100px 20px;
    background-color: red;
    border: solid 8px blue;
    border-radius: 20px 80px;
}

.starbucks {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 11;
}

.apple,
.apple3,
.apple4 {
    float: right;
}

.apple2 {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color: #d0451b;
    border-radius: 3px;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
}

.myButton:hover {
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color: #bc3315;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.error {
    color: red;
}


@media (max-width:520px) {
    main {
        width: 100%;
    }
}

@media (max-width:400px) {
    .apple2 {
        display: none;
    }
}

@media (min-width:1600px) {

    h1,
    #subtitulo {
        font-size: 62px;
    }
}

@media (min-width:800px) and (max-width:900px) {
    header nav ul li {
        background-color: rgb(99, 29, 29);
    }
}